<!-- Slider main container -->
<div class="swiper" #swiperDiv>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    @for (movie of movies(); track movie.id) {
    <div class="swiper-slide">
      <movie-card [movie]="movie" />
    </div>
    } @empty {
      <p class="text-xl">No hay peliculas disponibles</p>
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
