<section>

  <h2 class="text-3xl">CineVerse</h2>
  <div class="divider"></div>

  <ul class="list-group text-xl">
    <li class="list-group-item">
      <a [routerLink]="homeItem.route" routerLinkActive="text-primary underline font-semibold" [routerLinkActiveOptions]="{ exact: true }">
        {{ homeItem.title }}
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="moviesItem.route" routerLinkActive="text-primary underline font-semibold" >
        {{ moviesItem.title }}
      </a>
      <!-- Submenú Películas -->
      @if (isMovies()) {
        <div class="mt-1 mb-3 ms-3">
          <ul class="list-group">
            @for (item of moviesMenu; track item.route) {
              <li class="list-group-item">
                <a [routerLink]="item.route" routerLinkActive="text-primary underline font-semibold" [routerLinkActiveOptions]="{ exact: true }">
                  {{ item.title }}
                </a>
              </li>
            }
          </ul>
        </div>
      }
    </li>
    <li class="list-group-item">
      <a [routerLink]="seriesItem.route" routerLinkActive="text-primary underline font-semibold" >
        {{ seriesItem.title }}
      </a>
    <!-- Submenú Series -->
    @if (isSeries()) {
      <div class="mt-1 mb-3 ms-3">
        <ul class="list-group">
          @for (item of seriesMenu; track item.route) {
            <li class="list-group-item">
              <a [routerLink]="item.route" routerLinkActive="text-primary underline font-semibold" [routerLinkActiveOptions]="{ exact: true }">
                {{ item.title }}
              </a>
            </li>
          }
        </ul>
      </div>
    }

  </li>
</ul>

</section>
